body {
  overscroll-behavior: none;
  overflow: hidden;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* #main-div {
  display: flex;
  width: 100%;
  height: 100%;
}

#left-pane {
  width: 25%;
  margin: 5px;
}

#right-pane {
  flex-grow: 1;
  margin: 5px;
}
 */


#main-div {
  display: flex;
  height: calc(var(--vh, 1vh) * 100); /* Use the --vh custom property */
  width: 100vw; /* Full viewport width */
}

#left-pane {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%; /* 20% of horizontal space as per your diagram */
  border: 1px solid lightgray;
  padding: 0 2rem;
}

#right-pane {
  height: 100%;
  width: 80%; /* 80% of horizontal space as per your diagram */
}

.PanelConceptCategories {
  height: 70%; /* 70% of vertical space */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.PanelMyConcept {
  height: 30%; /* 30% of vertical space */
}

.Panel3D {
  height: 100%; /* 100% of vertical space */
  width: 100%; /* Using full width of its container */
  border: 1px solid lightgray;
}

.ItemOpenAiKey {
  position: fixed; /* Fix position relative to the viewport */
  bottom: 1rem; /* Align to the top of the viewport */
  right: 1rem; /* Position at the center of the viewport */
  /* transform: translateX(-50%); Shift left by half its width to center it */
  width: auto; /* Auto width based on content */
  z-index: 1000; /* Ensure it's above other content */
  background: lightyellow;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.CardHoveredConcept {
  position: fixed; /* Fix position relative to the viewport */
  bottom: 1rem; /* Align to the top of the viewport */
  left: calc(20% + 4rem); /* Position at the center of the viewport */
  /* transform: translateX(-50%); Shift left by half its width to center it */
  width: auto; /* Auto width based on content */
  z-index: 1000; /* Ensure it's above other content */
  background: lightyellow;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-left: 1rem;
}

.HiddenOnMobile {
  display: block;
}

.SelectConcept {
  max-width: 100%;
  /* z-index: 2000;; */
  margin: 1rem 0;
}

.select-input-common {
  font-size: 16px; /* Example to ensure legibility on mobile devices */
  border: 1px solid #ccc; /* Uniform border style */
  border-radius: 4px; /* Rounded corners */
  padding: 8px; /* Padding for better touch interaction */
  width: 100%; /* Full-width for responsiveness */
  box-sizing: border-box; /* Include padding and border in the element's width */
}

.ConceptRow {
  padding: 5px;
}

.ConceptInput {
  margin-left: 10px;
}

/* Mobile styles using a media query */
@media (max-width: 600px) { /* Adjust breakpoint as needed */
  #main-div {
    flex-direction: column; /* Stack vertically for mobile */
  }

  #left-pane, #right-pane {
    width: 100%; /* Full width on mobile */
  }

  #right-pane {
    height: calc(100% - 10rem);
  }

  #left-pane {
    height: 10rem;
    padding: 0;
    border: unset;
    border-bottom: 1px solid lightgrey;
  }

  .PanelConceptCategories {
    width: 100%;
    padding: 0;
    /* margin: 1rem; */
    height: 4rem; /* 20% of vertical space */
    margin-bottom: 0;
    margin-top: 2rem;
    overflow-y: hidden;
  }

  .PanelMyConcept {
    width: 100%; /* Full width */
    /* Height auto-adjusts based on content */
    padding-bottom: 1rem;
    padding: 0;
    /* margin: 1rem; */
    height: 4rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .Panel3D {
    /* height: 100%; */
    /* flex-grow: 1; */
    width: 100%; /* Full width */
    height: unset;
    border: unset;
  }

  .HiddenOnMobile {
    display: none;
  }

  .SelectConcept {
    padding-left: 5%;
    width: 95%;
    margin: 0;
  }

  .ConceptInput {
    height: 2rem;
    font-size: 20px;
    margin-left: 5% !important;
    width: 88% !important;
  }

  .ItemOpenAiKey {
    position: absolute; /* Fix position relative to the viewport */
    width: 100%; /* Auto width based on content */
    top: calc(var(--vh, 1vh) * 100); /* Align to the top of the viewport */
    left:50%;
    transform: translateX(-50%) translateY(-100%);
    border-radius: 0;
    padding: 1rem 0;
    bottom: unset;
    right: unset;
  }

  .CardHoveredConcept {
      position: absolute; /* Fix position relative to the viewport */
      bottom: 4rem; /* Align to the top of the viewport */
      left:50%;
      transform: translateX(-50%);
    }
}